apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.32.0 (HEAD)
  labels:
    io.kompose.service: klipper
  name: klipper
spec:

  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: klipper
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.32.0 (HEAD)
      labels:
        io.kompose.network/klipper-web-control-docker-default: "true"
        io.kompose.service: klipper
    spec:
      initContainers:
        - name: init-copy-config
          image: 'alphaldz/klipper_moonraker:latest-arm64'
          imagePullPolicy: Always

          command:
            - /bin/sh
            - -c
            - |
              cp -rf /home/klippy/printer_data/config/* /mnt/klipper/
              chown -R 1000:1000 /mnt/klipper/

          volumeMounts:
            - mountPath: /mnt/klipper/
              name: klipper-claim
            - mountPath: /mnt/moonraker/
              name: moonraker-claim
      containers:
        - name: klipper
          image: 'alphaldz/klipper_moonraker:latest-arm64'
          imagePullPolicy: Always

          ports:
            - containerPort: 7125
              hostPort: 7125
              protocol: TCP

          securityContext:
            capabilities:
              add:
                - SYS_NICE
            privileged: true

          volumeMounts:
            - mountPath: /home/klippy/gcode_files
              name: gcode-claim
            - mountPath: /home/klippy/printer_data/config
              name: klipper-claim
            - mountPath: /home/klippy/.moonraker_database
              name: moonraker-claim
            - name: usb-device
              mountPath: /dev/klipper-main
            - name: usb-input-shaper
              mountPath: /dev/klipper-shaper

      nodeName: rpi5
      restartPolicy: Always
      volumes:
        - name: klipper-claim
          persistentVolumeClaim:
            claimName: klipper-claim
        - name: moonraker-claim
          persistentVolumeClaim:
            claimName: moonraker-claim
        - name: gcode-claim
          persistentVolumeClaim:
            claimName: gcode-claim
        - name: usb-device
          hostPath:
            path: /dev/klipper-main
        - name: usb-input-shaper
          hostPath:
            path: /dev/klipper-shaper
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.32.0 (HEAD)
  labels:
    io.kompose.service: klipper
  name: klipper
spec:
  ports:
    - name: "7125"
      port: 7125
      targetPort: 7125
  selector:
    io.kompose.service: klipper
