apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: klipper-claim
  namespace: klipper
  labels:
    app: klipper
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: moonraker-claim
  namespace: klipper
  labels:
    app: klipper
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gcode-claim
  namespace: klipper
  labels:
    app: klipper
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
