apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: traefik
data:
  traefik.yml: |
    api:
      dashboard: false
      insecure: false

    ping:
      entryPoint: web

    entryPoints:
      web:
        address: ":80"
        forwardedHeaders:
          trustedIPs:
            - "10.0.0.0/8"
            - "172.16.0.0/12"
            - "192.168.0.0/16"
            - "fc00::/7"

    providers:
      file:
        filename: /etc/traefik/dynamic.yml

    log:
      level: INFO

  dynamic.yml: |
    http:
      middlewares:
        https-headers:
          headers:
            customRequestHeaders:
              X-Forwarded-Proto: "https"

        authelia:
          forwardAuth:
            address: "http://auth-svc.authelia.svc.cluster.local:9091/api/authz/forward-auth"
            trustForwardHeader: true
            authResponseHeaders:
              - Remote-User
              - Remote-Groups
              - Remote-Name
              - Remote-Email

        secured:
          chain:
            middlewares:
              - https-headers
              - authelia

      routers:
        authelia:
          rule: "Host(`auth.freedom35.fr`)"
          service: authelia
          entryPoints:
            - web
          middlewares:
            - https-headers

        stf-websocket:
          rule: "Host(`stf.freedom35.fr`) && PathPrefix(`/socket.io`)"
          service: stf
          entryPoints:
            - web
          middlewares:
            - https-headers
          priority: 100

        stf-screens:
          rule: "Host(`stf.freedom35.fr`) && PathPrefix(`/screens`)"
          service: stf
          entryPoints:
            - web
          middlewares:
            - https-headers
          priority: 100

        stf:
          rule: "Host(`stf.freedom35.fr`)"
          service: stf
          entryPoints:
            - web
          middlewares:
            - secured
          priority: 1

        klipper:
          rule: "Host(`klipper.freedom35.fr`)"
          service: klipper
          entryPoints:
            - web
          middlewares:
            - secured

        homarr:
          rule: "Host(`home.freedom35.fr`)"
          service: homarr
          entryPoints:
            - web
          middlewares:
            - secured

      services:
        authelia:
          loadBalancer:
            servers:
              - url: "http://auth-svc.authelia.svc.cluster.local:9091"

        stf:
          loadBalancer:
            servers:
              - url: "http://stf.stf.svc.cluster.local:7100"

        klipper:
          loadBalancer:
            servers:
              - url: "http://mainsail.klipper.svc.cluster.local:80"

        homarr:
          loadBalancer:
            servers:
              - url: "http://homarr.homarr.svc.cluster.local:7575"
