apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-config
  namespace: authelia
data:
  configuration.yml: |
    theme: dark

    server:
      address: 'tcp://0.0.0.0:9091'
      endpoints:
        authz:
          forward-auth:
            implementation: ForwardAuth

    log:
      level: info
      format: text

    totp:
      issuer: freedom35.fr
      period: 30
      skew: 1

    authentication_backend:
      file:
        path: /config/users_database.yml
        password:
          algorithm: argon2id
          iterations: 1
          key_length: 32
          salt_length: 16
          memory: 1024
          parallelism: 8

    access_control:
      default_policy: deny
      rules:
        - domain: auth.freedom35.fr
          policy: bypass
        - domain: home.freedom35.fr
          policy: one_factor
        - domain: klipper.freedom35.fr
          policy: one_factor
        - domain: stf.freedom35.fr
          policy: two_factor

    session:
      name: authelia_session
      cookies:
        - domain: freedom35.fr
          authelia_url: https://auth.freedom35.fr
          default_redirection_url: https://home.freedom35.fr
          expiration: 1h
          inactivity: 5m
          remember_me: 1M

    regulation:
      max_retries: 3
      find_time: 2m
      ban_time: 5m

    storage:
      local:
        path: /data/db.sqlite3

    notifier:
      filesystem:
        filename: /data/notification.txt

    identity_validation:
      reset_password:
        jwt_secret: '{{ secret "/secrets/JWT_SECRET" }}'

  users_database.yml: |
    users:
      admin:
        disabled: false
        displayname: "Admin"
        password: "$argon2id$v=19$m=65536,t=3,p=4$rQ7DoJVuiRAcSyDQnyEXQA$Lw8VxfU3E4BEG1GIc99I5rUDuXpY0/MCRp4gThcUCJQ"
        email: admin@freedom35.fr
        groups:
          - admins
          - users
