apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rethinkdb-data
  namespace: stf
  labels:
    app: rethinkdb
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
