apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: anonaddy-data
  namespace: anonaddy
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 2Gi
